body {
    background-color: #212121;
    width: 300px;
    max-width: 750px;
    min-width: 480px;
    margin: 0 auto;
   
  }
  * {
    box-sizing: border-box;
  }
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px rgb(22, 22, 22);
    text-align: center;
    text-decoration: none;
    color: #1b1b1b;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border-bottom: solid 1px #aaa;
    background-color: #eee;
  }
  button{
    width: 200px;
    height: 30px;
    border: 2px solid #212121;
    color: white;
    font-size: 20px;
  }